<!DOCTYPE html>
<html>
  <head>
    <title>TwittMap</title>
    <link rel='stylesheet' href='../static/stylesheets/style.css' />
  </head>
  <body>

    <h1>TwittMap</h1>

    <p>Welcome to TwittMap</p>

    <p>Please select your keyword:</p>

    <form action="/search/">
      <select name="q">
        {% for opt in ['all', 'apple', 'bar', 'cat', 'dog', 'eat', 'food'] %}
          {% if opt == kw %}
            <option value="{{ opt }}" selected="selected">{{ opt }}</option>
          {% else %}
            <option value="{{ opt }}">{{ opt }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="submit">
    </form>

    </br>
    <p>Showing tweets: {{ kw }}</p>
    <div id="map"></div>
    <script>

      function placeMarker(tweet, map) {
        var position = {lat: tweet.coord[1], lng: tweet.coord[0]};

        var marker = new google.maps.Marker({
          position: position,
          map: map,

        });

        var content = tweet.nickname + '(' + tweet.username + '):<br>' +
                      tweet.text + '<br>' + tweet.date;

        var infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(marker, 'click', (
          function(marker, content, infowindow) {
            return function() {
              infowindow.setContent(content);
              infowindow.open(map, marker);
            };
          })(marker, content, infowindow)
        );
      }

      function initMap() {
        var center = {lat: 39.8097343, lng: -98.5556199};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1,
          center: center
        });

        var tweets = {{ tweets|safe }};
        tweets.forEach(function(t) {
          if (t.coord !== undefined) {
            placeMarker(t, map);
          }
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpa99J3luKSc4dG5r78NClNe0oQUGJMAs&callback=initMap">
    </script>
  </body>
</html>
