<!DOCTYPE html>
<html>
  <head>
    <title>TwittMap</title>
    <link rel='stylesheet' href='../static/stylesheets/style.css' />
  </head>
  <body>

    <h1>TwittMap</h1>

    <p>Welcome to TwittMap</p>

    <p>Please select your keyword:</p>

    <form action="/search/">
      <select name="q">
        {% for opt in ['all', 'apple', 'bar', 'cat', 'dog', 'eat', 'food'] %}
          {% if opt == kw %}
            <option value="{{ opt }}" selected="selected">{{ opt }}</option>
          {% else %}
            <option value="{{ opt }}">{{ opt }}</option>
          {% endif %}
        {% endfor %}
      </select>
<!--       <select name="d">
        {% for opt in [0, 10, 100] %}
          {% if opt == dist %}
            <option value="{{ opt }}" selected="selected">{{ opt }}km</option>
          {% else %}
            <option value="{{ opt }}">{{ opt }}km</option>
          {% endif %}
        {% endfor %}
      </select> -->
      <input type="submit">
    </form>

    </br>
    <p>Showing tweets: {{ kw }} - {{ num }} results</p>
    <div id="map"></div>
    <script>

      function placeMarker(tweet, map) {
        var position = {lat: tweet.location.lat, lng: tweet.location.lon};

        var marker = new google.maps.Marker({
          position: position,
          map: map,
        });

        var content =
          '<b>' + tweet.user_name + '</b>' +
          ' ( ' + '<i>' + '@' + tweet.screen_name + '</i>' + ' ):<br>' +
          '<hr>' + tweet.text + '<br>' + '<hr>' +
          '<font size="0.5em" color="grey">' + tweet.date + '</font>';

        var infowindow = new google.maps.InfoWindow({ maxWidth: 200 });
        google.maps.event.addListener(marker, 'click', (
          function(marker, content, infowindow) {
            return function() {
              infowindow.setContent(content);
              infowindow.open(map, marker);
            };
          })(marker, content, infowindow)
        );

        return marker;
      }

      function initMap() {
        var center = {lat: 39.8097343, lng: -98.5556199};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: center
        });

        // map tweets -> markers
        var tweets = {{ tweets|safe }};
        var markers = tweets.map(function(t) { return placeMarker(t, map) });

        // add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
    </script>
    <script type="text/javascript" src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpa99J3luKSc4dG5r78NClNe0oQUGJMAs&callback=initMap">
    </script>
  </body>
</html>
